NODE_ENV=development
GRPC_HOST=0.0.0.0
GRPC_PORT=50052

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=hermex_admin
DB_PASSWORD=hermex_password
DB_NAME=payments_db

# RabbitMQ
RABBITMQ_URL=amqp://hermex_user:hermex_password@localhost:5672
